form {
  max-width: 75%;
  margin: auto;
  padding: 10px;
}

.contactForm {
  background-color: white;
  outline: 2px solid #f4b955;
  opacity: 80%;
  padding: 20px;
  margin: 20px;
}

.formContainer {
  outline: 2px solid #f4b955;
  padding: 30px;
  margin: auto;
}

.stackOverflow, .gitHub, .linkedIn {
  height: 200px;
  margin: 20px;
}

.profiles {
  padding-top: 20px;
  margin-bottom: 100px;
}