  .header {
    background-color: black;
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }

  .signature {
    margin: auto;
    width: 50%;
  }

  .nav-link {
    margin: auto;
  }

  .active-link {
    color: #f4b955 !important;
  }

  