  .header {
    color: #f4b955;
    background-color: black;
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }

  h1 {
    font-family: monospace;
    text-align: center;
  }

  .nav-link {
    margin: auto;
  }

  .active-link {
    color: #f4b955 !important;
  }

  